{% extends 'common/base.html' %}
{% block title %} Create New Group {% endblock title %}
{% block header %}
    Create New Group
{% endblock header%}

{% block menu %}
<a href="{% url 'user-create' %}">Create User</a>
<a href="{% url 'group-create' %}">Create Group</a>
<a href="{% url 'user-list' %}">List Users</a>
<a href="{% url 'group-list' %}">List Groups</a>
<a href="{% url 'create-authorization' %}">Create Authorization</a>
    <!-- {% for item in menu %} -->

    <!-- {% endfor %} -->

{% endblock menu %}


{% block body %}
    <div class="form-container">
        <h2 class="form-container-title">Group Form</h2>
        <form method="post" style="margin: 20px;">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-block">Save</button>
        </form>
    </div>

{% endblock %} 
