<!-- template.html -->
{% extends 'common/base.html' %}
{% block title %} Dashboard {% endblock title %}
{% load static %}

{% block header %}
    Welcome {{ user.username | upper }}
{% endblock header %}

{% block menu %}
    <a href="{% url 'user-create' %}">Create User</a>
    <a href="{% url 'group-create' %}">Create Group</a>
    <a href="{% url 'user-list' %}">List Users</a>
    <a href="{% url 'group-list' %}">List Groups</a>
    <a href="{% url 'mint-handles' %}">Mint Handle</a>
{% endblock menu %}

{% block body %}
    <div class="container">
        <div id="submitButton">
            <div style="display: inline;">
                 <span style="float: inline-start;">
                    <!-- This button will open the modal -->
                    <h4>Enter Custom URL to Proceed</h4>
                    <button id="openModalButton" type="button" class="btn btn-primary" data-toggle="modal" data-target="#inputModal">
                        Mint-Handle With Custom URL
                    </button>
                 </span>

                <span style="float: inline-end;">
                    <!-- This button will not open the modal -->
                    <h4>Proceed With Default URL</h4>
                    <button id="submitDefault" type="button" onclick="accessUrl()" class="btn btn-primary" data-target="#inputModal">
                        Mint-Handle With Default URL
                    </button>
                </span>

            </div>
        </div>

        <div id="postSubmit"></div>

        <!-- Modal -->
        <div class="modal fade" id="inputModal" tabindex="-1" role="dialog" aria-labelledby="inputModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="inputModalLabel">Enter URL</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="inputForm" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="userInput">Input</label>
                                <input type="text" class="form-control" id="userInput" name="user_input" value="{{ default_value }}" required>
                            </div>
                            <button type="submit" class="btn btn-primary" onclick="accessUrl()">Mint Handle</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>
        function accessUrl() {
            window.location.href = "{% url 'mint-handles' %}";
        }

        // Hide the button and insert text when clicked
        document.getElementById('openModalButton').onclick = function() {
            this.style.display = 'none';
            document.getElementById('submitDefault').style.display='none';
            document.getElementById('postSubmit').innerText = 'Please wait. Loading .....';
        };

        // Handle form submission
        document.getElementById('inputForm').onsubmit = function(event) {
            event.preventDefault();  // Prevent the default form submission
            
            // Close the modal
            $('#inputModal').modal('hide');
            
            // Submit the form after closing the modal
            this.submit();
        };
    </script>
{% endblock %}
